<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>
	<display-name>Professional WebLogic Chapter 2 Example Web Application</display-name>

  <welcome-file-list>
    <welcome-file>ShowPeople.jsp</welcome-file>
  </welcome-file-list>

	<error-page>
		<error-code>500</error-code>
		<location>/ErrorPage.jsp</location>
	</error-page>

</web-app>
