.body {
	background-color: #FFFFFF;
	font-family: MS Sans Serif, Arial;
	font-size: 12pt;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}

.black {
	color: #000000;
}

.red {
	color: #FF0000;
}

.error-header1 {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}

.error-header2 {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000099;
	text-decoration: none;
}

.error-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #000099;
	text-decoration: none;
}

.table-header {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #000099;
	text-decoration: none;
}

.table-data {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000099;
	text-decoration: none;
}

.table-link {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	color: #000066;
}

.table-link-selected {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	color: #000066;
}

A.table-link:hover {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	color: #0000DD;
}





.sidebar-header {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #000099;
	text-decoration: none;
}

.sidebar-title {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000099;
	text-decoration: none;
}

.sidebar-data {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000099;
	text-decoration: none;
}

.sidebar-link {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	color: #000066;
}

.sidebar-link-selected {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	color: #000066;
}

A.sidebar-link:hover {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	color: #0000DD;
}


.page-header {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #000099;
	text-decoration: none;
}

.page-label {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000099;
	text-decoration: none;
}

.page-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000099;
	text-decoration: none;
}





.menu-text {
	font-family: MS Sans Serif, Arial;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
	color: #000066;
}

.menu-text-selected {
	font-family: MS Sans Serif, Arial;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
	color: #CCCCCC;
}

A.menu-text:hover {
	font-family: MS Sans Serif, Arial;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
	color: #CCCCCC;
}

.link-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
	color: #000099;
}

.link-text-selected
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
	color: #000099;
}

A.link-text:hover
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
	color: #9999CC;
}

.small-white-text
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}

.medium-white-text
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}

.large-white-text
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}

.small-white-text-bold
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.medium-white-text-bold
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.large-white-text-bold
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.small-white-text-italic
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	color: #FFFFFF;
	text-decoration: none;
}

.medium-white-text-italic
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
	color: #FFFFFF;
	text-decoration: none;
}

.large-white-text-italic
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: italic;
	color: #FFFFFF;
	text-decoration: none;
}

.small-black-text
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.medium-black-text
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.large-black-text
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.small-black-text-bold
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.medium-black-text-bold
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.medium-black-text-bold-underline {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}

.large-black-text-bold
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12t;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.small-black-text-italic
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	color: #000000;
	text-decoration: none;
}

.medium-black-text-italic
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
	color: #000000;
	text-decoration: none;
}

.large-black-text-italic
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: italic;
	color: #000000;
	text-decoration: none;
}

.courier-font
{
	font-family: courier;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.copyright
{
	font-family: MS Sans Serif, Arial;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.body-text-10
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}

.body-text-12
{
	font-family: Arial;
	font-size: 12pt;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}

.body-text-link-10
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-decoration: none;
	color: #0000FF;
}

.body-text-link-12
{
	font-family: Arial;
	font-size: 12pt;
	font-weight: normal;
	text-decoration: none;
	color: #0000FF;
}

.body-text-link-10
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-decoration: underline;
	color: #0000FF;
}

.body-text-link-12
{
	font-family: Arial;
	font-size: 12pt;
	font-weight: normal;
	text-decoration: underline;
	color: #0000FF;
}