.body {
	background-color: #FFFFFF;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}

.light-blue {
	color: #9999CC;
}

.dark-blue {
	color: #000099;
}

.error-header1 {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}

.error-header2 {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000099;
	text-decoration: none;
}

.error-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #000099;
	text-decoration: none;
}

.table-header {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000099;
	text-decoration: none;
}

.table-data {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #000099;
	text-decoration: none;
}

.menu-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	text-decoration: none;
	color: #000099;
}

.menu-text-selected {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	color: #000099;
}

A.menu-text:hover {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	text-decoration: none;
	color: #FF0000;
}

.submenu-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	text-decoration: none;
	color: #FFFFFF;
}

.submenu-text-selected {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	color: #C0C0C0;
}

A.submenu-text:hover {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	text-decoration: none;
	color: #FF0000;
}

.row-hdr-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
	color: #000099;
}

.row-hdr-text-selected {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
	color: #000099;
}

A.row-hdr-text:hover {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
	color: #FFFFFF;
}

.link-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
	color: #000099;
}

.link-text-selected {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
	color: #000099;
}

A.link-text:hover {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
	color: #9999CC;
}

.small-white-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}

.medium-white-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}

.large-white-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}

.small-white-text-bold {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.medium-white-text-bold {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.large-white-text-bold {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.small-white-text-italic {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	color: #FFFFFF;
	text-decoration: none;
}

.medium-white-text-italic {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
	color: #FFFFFF;
	text-decoration: none;
}

.large-white-text-italic {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: italic;
	color: #FFFFFF;
	text-decoration: none;
}

.small-lightblue-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #9999CC;
	text-decoration: none;
}

.medium-lightblue-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #9999CC;
	text-decoration: none;
}

.large-lightblue-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	color: #9999CC;
	text-decoration: none;
}

.small-lightblue-text-bold {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #9999CC;
	text-decoration: none;
}

.medium-lightblue-text-bold {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #9999CC;
	text-decoration: none;
}

.large-lightblue-text-bold {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #9999CC;
	text-decoration: none;
}

.small-lightblue-text-italic {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	color: #9999CC;
	text-decoration: none;
}

.medium-lightblue-text-italic {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
	color: #9999CC;
	text-decoration: none;
}

.large-lightblue-text-italic {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: italic;
	color: #9999CC;
	text-decoration: none;
}

.small-darkblue-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #000099;
	text-decoration: none;
}

.medium-darkblue-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000099;
	text-decoration: none;
}

.large-darkblue-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	color: #000099;
	text-decoration: none;
}

.small-darkblue-text-bold {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #000099;
	text-decoration: none;
}

.medium-darkblue-text-bold {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000099;
	text-decoration: none;
}

.large-darkblue-text-bold {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #000099;
	text-decoration: none;
}

.small-darkblue-text-italic {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	color: #000099;
	text-decoration: none;
}

.medium-darkblue-text-italic {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
	color: #000099;
	text-decoration: none;
}

.large-darkblue-text-italic {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: italic;
	color: #000099;
	text-decoration: none;
}

.small-black-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.medium-black-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.large-black-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.small-black-text-bold {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.medium-black-text-bold {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.medium-black-text-bold-underline {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}

.large-black-text-bold {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.small-black-text-italic {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	color: #000000;
	text-decoration: none;
}

.medium-black-text-italic {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
	color: #000000;
	text-decoration: none;
}

.large-black-text-italic {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: italic;
	color: #000000;
	text-decoration: none;
}

.small-red-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}

.medium-red-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}

.large-red-text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}

.small-red-text-bold {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}

.medium-red-text-bold {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}

.large-red-text-bold {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}

.small-red-text-italic {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	color: #FF0000;
	text-decoration: none;
}

.medium-red-text-italic {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
	color: #FF0000;
	text-decoration: none;
}

.large-red-text-italic {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: italic;
	color: #FF0000;
	text-decoration: none;
}

.courier-font {
	font-family: courier;
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.medium-blue-text-italic {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
	color: #008000;
	text-decoration: none;
	text-align: center;
}