<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SAMLSPWebApp</display-name>
 
  <welcome-file-list>
 
    <welcome-file>index.jsp</welcome-file>
 
  </welcome-file-list>
 
   <security-constraint>
   	<display-name>Protected by SAML</display-name>
   	<web-resource-collection>
   		<web-resource-name>Protected Resources</web-resource-name>
   		<url-pattern>/protected/*</url-pattern>
   	</web-resource-collection>
   	<auth-constraint>
   		<role-name>FederatedUsers</role-name>
   	</auth-constraint>
   </security-constraint>
   
   <security-role>
   	<role-name>FederatedUsers</role-name>
   </security-role>
</web-app>