<?xml version='1.0' encoding='UTF-8'?>
<domain xmlns="http://xmlns.oracle.com/weblogic/domain" xmlns:sec="http://xmlns.oracle.com/weblogic/security" xmlns:wls="http://xmlns.oracle.com/weblogic/security/wls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.oracle.com/weblogic/security/xacml http://xmlns.oracle.com/weblogic/security/xacml/1.0/xacml.xsd http://xmlns.oracle.com/weblogic/domain http://xmlns.oracle.com/weblogic/1.0/domain.xsd http://xmlns.oracle.com/weblogic/security http://xmlns.oracle.com/weblogic/1.0/security.xsd http://xmlns.oracle.com/weblogic/security/wls http://xmlns.oracle.com/weblogic/security/wls/1.0/wls.xsd">
  <name>bigrezdomain</name>
  <domain-version>10.3.1.0</domain-version>
  <security-configuration>
    <name>bigrezdomain</name>
    <realm>
      <sec:authentication-provider xsi:type="wls:default-authenticatorType"></sec:authentication-provider>
      <sec:authentication-provider xsi:type="wls:default-identity-asserterType">
        <sec:active-type>AuthenticatedUser</sec:active-type>
      </sec:authentication-provider>
      <sec:role-mapper xmlns:xac="http://xmlns.oracle.com/weblogic/security/xacml" xsi:type="xac:xacml-role-mapperType"></sec:role-mapper>
      <sec:authorizer xmlns:xac="http://xmlns.oracle.com/weblogic/security/xacml" xsi:type="xac:xacml-authorizerType"></sec:authorizer>
      <sec:adjudicator xsi:type="wls:default-adjudicatorType"></sec:adjudicator>
      <sec:credential-mapper xsi:type="wls:default-credential-mapperType"></sec:credential-mapper>
      <sec:cert-path-provider xsi:type="wls:web-logic-cert-path-providerType"></sec:cert-path-provider>
      <sec:cert-path-builder>WebLogicCertPathProvider</sec:cert-path-builder>
      <sec:name>myrealm</sec:name>
    </realm>
    <default-realm>myrealm</default-realm>
    <anonymous-admin-lookup-enabled>false</anonymous-admin-lookup-enabled>
    <credential-encrypted>{AES}QWf5lg8zeDONbBafjCrKPva7cu6NNXfSpY2J69dMe75QMjovTWdpZSLrt6w/0xkflDDXSPGN4xB+YMm3aQkvtmdqVJPKDDWmzdL3KUGwzeOM9ZWKBZv8C9R9XeC7IMtt</credential-encrypted>
    <web-app-files-case-insensitive>false</web-app-files-case-insensitive>
    <compatibility-connection-filters-enabled>false</compatibility-connection-filters-enabled>
    <node-manager-username>weblogic</node-manager-username>
    <node-manager-password-encrypted>{AES}thxD1KozknnGcJD4QmmGIMYEMe0qgAZtjypWyPzZZa8=</node-manager-password-encrypted>
    <downgrade-untrusted-principals>false</downgrade-untrusted-principals>
    <enforce-strict-url-pattern>true</enforce-strict-url-pattern>
    <cross-domain-security-enabled>false</cross-domain-security-enabled>
  </security-configuration>
  <jta>
    <security-interop-mode>default</security-interop-mode>
  </jta>
  <snmp-agent-deployment>
    <name>AdminServerSNMPAgent</name>
    <enabled>true</enabled>
    <send-automatic-traps-enabled>true</send-automatic-traps-enabled>
    <snmp-port>161</snmp-port>
    <snmp-trap-version>1</snmp-trap-version>
    <community-prefix>public</community-prefix>
    <snmp-trap-destination>
      <name>WebNMSTrapViewer</name>
      <host>192.168.1.40</host>
      <port>162</port>
      <community>public</community>
      <security-level>noAuthNoPriv</security-level>
    </snmp-trap-destination>
    <snmp-attribute-change>
      <name>BigRezJTADataSource Targets Change</name>
      <enabled-server>AdminServer</enabled-server>
      <attribute-m-bean-type>JDBCDataSource</attribute-m-bean-type>
      <attribute-name>Targets</attribute-name>
    </snmp-attribute-change>
    <snmp-attribute-change>
      <name>SNMPAttributeChange-0</name>
      <enabled-server></enabled-server>
      <attribute-m-bean-type>JDBCSystemResource</attribute-m-bean-type>
      <attribute-name>Targets</attribute-name>
    </snmp-attribute-change>
    <community-based-access-enabled>true</community-based-access-enabled>
    <snmp-engine-id>AdminServerSNMPAgent</snmp-engine-id>
    <authentication-protocol>MD5</authentication-protocol>
    <privacy-protocol>noPriv</privacy-protocol>
    <inform-retry-interval>10000</inform-retry-interval>
    <max-inform-retry-count>1</max-inform-retry-count>
    <localized-key-cache-invalidation-interval>3600000</localized-key-cache-invalidation-interval>
    <snmp-access-for-user-m-beans-enabled>false</snmp-access-for-user-m-beans-enabled>
    <inform-enabled>false</inform-enabled>
    <master-agent-x-port>705</master-agent-x-port>
    <target>AdminServer</target>
  </snmp-agent-deployment>
  <snmp-agent-deployment>
    <name>Server1SNMPAgent</name>
    <enabled>true</enabled>
    <send-automatic-traps-enabled>true</send-automatic-traps-enabled>
    <snmp-port>7161</snmp-port>
    <snmp-trap-version>1</snmp-trap-version>
    <community-prefix>public</community-prefix>
    <snmp-trap-destination>
      <name>WebNMSTrapViewer</name>
      <host>192.168.1.40</host>
      <port>162</port>
      <community>public</community>
      <security-level>noAuthNoPriv</security-level>
    </snmp-trap-destination>
    <snmp-log-filter>
      <name>Database Down Log Filter</name>
      <enabled-server>Server1,Server2,Server3</enabled-server>
      <severity-level>Info</severity-level>
      <subsystem-name>JDBC</subsystem-name>
      <message-id>001156</message-id>
    </snmp-log-filter>
    <community-based-access-enabled>true</community-based-access-enabled>
    <snmp-engine-id>Server1SNMPAgent</snmp-engine-id>
    <authentication-protocol>noAuth</authentication-protocol>
    <privacy-protocol>noPriv</privacy-protocol>
    <inform-retry-interval>10000</inform-retry-interval>
    <max-inform-retry-count>1</max-inform-retry-count>
    <localized-key-cache-invalidation-interval>3600000</localized-key-cache-invalidation-interval>
    <snmp-access-for-user-m-beans-enabled>false</snmp-access-for-user-m-beans-enabled>
    <inform-enabled>false</inform-enabled>
    <master-agent-x-port>7705</master-agent-x-port>
    <target>Server1</target>
  </snmp-agent-deployment>
  <snmp-agent-deployment>
    <name>Server2SNMPAgent</name>
    <enabled>true</enabled>
    <send-automatic-traps-enabled>true</send-automatic-traps-enabled>
    <snmp-port>7171</snmp-port>
    <snmp-trap-version>1</snmp-trap-version>
    <community-prefix>public</community-prefix>
    <snmp-trap-destination>
      <name>WebNMSTrapViewer</name>
      <host>192.168.1.40</host>
      <port>162</port>
      <community>public</community>
      <security-level>noAuthNoPriv</security-level>
    </snmp-trap-destination>
    <community-based-access-enabled>true</community-based-access-enabled>
    <snmp-engine-id>Server2SNMPAgent</snmp-engine-id>
    <authentication-protocol>noAuth</authentication-protocol>
    <privacy-protocol>noPriv</privacy-protocol>
    <inform-retry-interval>10000</inform-retry-interval>
    <max-inform-retry-count>1</max-inform-retry-count>
    <localized-key-cache-invalidation-interval>3600000</localized-key-cache-invalidation-interval>
    <snmp-access-for-user-m-beans-enabled>false</snmp-access-for-user-m-beans-enabled>
    <inform-enabled>false</inform-enabled>
    <master-agent-x-port>7715</master-agent-x-port>
    <target>Server2</target>
  </snmp-agent-deployment>
  <snmp-agent-deployment>
    <name>Server3SNMPAgent</name>
    <enabled>true</enabled>
    <send-automatic-traps-enabled>true</send-automatic-traps-enabled>
    <snmp-port>7181</snmp-port>
    <snmp-trap-version>1</snmp-trap-version>
    <community-prefix>public</community-prefix>
    <snmp-trap-destination>
      <name>WebNMSTrapViewer</name>
      <host>192.168.1.40</host>
      <port>162</port>
      <community>public</community>
      <security-level>noAuthNoPriv</security-level>
    </snmp-trap-destination>
    <community-based-access-enabled>true</community-based-access-enabled>
    <snmp-engine-id>Server3SNMPAgent</snmp-engine-id>
    <authentication-protocol>MD5</authentication-protocol>
    <privacy-protocol>noPriv</privacy-protocol>
    <inform-retry-interval>10000</inform-retry-interval>
    <max-inform-retry-count>1</max-inform-retry-count>
    <localized-key-cache-invalidation-interval>3600000</localized-key-cache-invalidation-interval>
    <snmp-access-for-user-m-beans-enabled>false</snmp-access-for-user-m-beans-enabled>
    <inform-enabled>false</inform-enabled>
    <master-agent-x-port>7725</master-agent-x-port>
    <target>Server3</target>
  </snmp-agent-deployment>
  <server>
    <name>AdminServer</name>
    <ssl>
      <enabled>false</enabled>
      <hostname-verifier xsi:nil="true"></hostname-verifier>
      <hostname-verification-ignored>false</hostname-verification-ignored>
      <export-key-lifespan>500</export-key-lifespan>
      <client-certificate-enforced>false</client-certificate-enforced>
      <two-way-ssl-enabled>false</two-way-ssl-enabled>
      <server-private-key-alias>server_key</server-private-key-alias>
      <server-private-key-pass-phrase-encrypted>{AES}6zd03wFZRGRMP5JJ5zUp7FJv2UidqPNuxzrAVYTuQsk=</server-private-key-pass-phrase-encrypted>
      <ssl-rejection-logging-enabled>true</ssl-rejection-logging-enabled>
      <inbound-certificate-validation>BuiltinSSLValidationOnly</inbound-certificate-validation>
      <outbound-certificate-validation>BuiltinSSLValidationOnly</outbound-certificate-validation>
      <allow-unencrypted-null-cipher>false</allow-unencrypted-null-cipher>
      <use-server-certs>true</use-server-certs>
    </ssl>
    <log>
      <file-name>logs/AdminServer.log</file-name>
      <rotation-type>bySize</rotation-type>
      <number-of-files-limited>false</number-of-files-limited>
      <file-min-size>5000</file-min-size>
      <rotate-log-on-startup>false</rotate-log-on-startup>
      <logger-severity>Info</logger-severity>
      <log-file-severity>Debug</log-file-severity>
      <stdout-severity>Debug</stdout-severity>
      <domain-log-broadcast-severity>Notice</domain-log-broadcast-severity>
      <memory-buffer-severity>Debug</memory-buffer-severity>
      <log4j-logging-enabled>false</log4j-logging-enabled>
      <redirect-stdout-to-server-log-enabled>true</redirect-stdout-to-server-log-enabled>
      <domain-log-broadcaster-buffer-size>10</domain-log-broadcaster-buffer-size>
    </log>
    <machine>AdminMachine</machine>
    <listen-port>7001</listen-port>
    <listen-port-enabled>true</listen-port-enabled>
    <server-debug>
      <debug-connection>true</debug-connection>
      <debug-ssl>true</debug-ssl>
    </server-debug>
    <listen-address>diablo.us.oracle.com</listen-address>
    <java-compiler>javac</java-compiler>
    <client-cert-proxy-enabled>false</client-cert-proxy-enabled>
    <key-stores>CustomIdentityAndCustomTrust</key-stores>
    <custom-identity-key-store-file-name>c:\powls\ch12\AdminMachine\diablo_keystore.jks</custom-identity-key-store-file-name>
    <custom-identity-key-store-type>JKS</custom-identity-key-store-type>
    <custom-identity-key-store-pass-phrase-encrypted>{AES}mKacfqQU8rKIhshwUV09SUOco+rGIB3gm+YBHSCg1l+uCI0+6kYB7YTNrqfsXd/Y</custom-identity-key-store-pass-phrase-encrypted>
    <custom-trust-key-store-file-name>c:\powls\ch12\cacerts</custom-trust-key-store-file-name>
    <custom-trust-key-store-type>JKS</custom-trust-key-store-type>
    <custom-trust-key-store-pass-phrase-encrypted>{AES}2gVPfjx/lYJEUAyVTZNQOCjVrLxMCbR4nmn9v1TgOJ0=</custom-trust-key-store-pass-phrase-encrypted>
  </server>
  <server>
    <name>Server1</name>
    <ssl>
      <enabled>false</enabled>
      <hostname-verifier xsi:nil="true"></hostname-verifier>
      <hostname-verification-ignored>false</hostname-verification-ignored>
      <export-key-lifespan>500</export-key-lifespan>
      <client-certificate-enforced>false</client-certificate-enforced>
      <two-way-ssl-enabled>false</two-way-ssl-enabled>
      <server-private-key-alias>server_key</server-private-key-alias>
      <server-private-key-pass-phrase-encrypted>{AES}bIy8S0Svo/YBIn1+9eeuytHpddXnOgTBASkC1DeRHzQ=</server-private-key-pass-phrase-encrypted>
      <ssl-rejection-logging-enabled>true</ssl-rejection-logging-enabled>
      <inbound-certificate-validation>BuiltinSSLValidationOnly</inbound-certificate-validation>
      <outbound-certificate-validation>BuiltinSSLValidationOnly</outbound-certificate-validation>
      <allow-unencrypted-null-cipher>false</allow-unencrypted-null-cipher>
      <use-server-certs>true</use-server-certs>
    </ssl>
    <log>
      <file-name>logs/Server1.log</file-name>
      <rotation-type>bySize</rotation-type>
      <number-of-files-limited>false</number-of-files-limited>
      <file-min-size>5000</file-min-size>
      <rotate-log-on-startup>false</rotate-log-on-startup>
      <logger-severity>Info</logger-severity>
      <log-file-severity>Debug</log-file-severity>
      <stdout-severity>Debug</stdout-severity>
      <domain-log-broadcast-severity>Notice</domain-log-broadcast-severity>
      <memory-buffer-severity>Debug</memory-buffer-severity>
      <log4j-logging-enabled>false</log4j-logging-enabled>
      <redirect-stdout-to-server-log-enabled>true</redirect-stdout-to-server-log-enabled>
      <domain-log-broadcaster-buffer-size>10</domain-log-broadcaster-buffer-size>
    </log>
    <machine>Machine1</machine>
    <listen-port>7001</listen-port>
    <listen-port-enabled>true</listen-port-enabled>
    <cluster>BigRezCluster</cluster>
    <auto-migration-enabled>false</auto-migration-enabled>
    <server-debug>
      <debug-connection>true</debug-connection>
      <debug-ssl>true</debug-ssl>
      <debug-snmp-toolkit>false</debug-snmp-toolkit>
      <debug-snmp-agent>false</debug-snmp-agent>
    </server-debug>
    <listen-address>everest.us.oracle.com</listen-address>
    <java-compiler>javac</java-compiler>
    <jta-migratable-target>
      <user-preferred-server>Server1</user-preferred-server>
      <constrained-candidate-server></constrained-candidate-server>
      <cluster>BigRezCluster</cluster>
      <migration-policy>failure-recovery</migration-policy>
    </jta-migratable-target>
    <client-cert-proxy-enabled>false</client-cert-proxy-enabled>
    <key-stores>CustomIdentityAndCustomTrust</key-stores>
    <custom-identity-key-store-file-name>/powls/ch12/Machine1/everest_keystore.jks</custom-identity-key-store-file-name>
    <custom-identity-key-store-type>JKS</custom-identity-key-store-type>
    <custom-identity-key-store-pass-phrase-encrypted>{AES}A/35mmdxWE6T1eIyy7dRP/kF5yN8shLSJeGvT656rHKXF04GGihYLlgCVAHwRodt</custom-identity-key-store-pass-phrase-encrypted>
    <custom-trust-key-store-file-name>/powls/ch12/cacerts</custom-trust-key-store-file-name>
    <custom-trust-key-store-type>JKS</custom-trust-key-store-type>
    <custom-trust-key-store-pass-phrase-encrypted>{AES}7V3VigdK8D1643ZENMiqPKy1hz7sazYIHqoL4XXBrZg=</custom-trust-key-store-pass-phrase-encrypted>
    <candidate-machine></candidate-machine>
  </server>
  <server>
    <name>Server2</name>
    <ssl>
      <enabled>false</enabled>
      <hostname-verifier xsi:nil="true"></hostname-verifier>
      <hostname-verification-ignored>false</hostname-verification-ignored>
      <export-key-lifespan>500</export-key-lifespan>
      <client-certificate-enforced>false</client-certificate-enforced>
      <two-way-ssl-enabled>false</two-way-ssl-enabled>
      <server-private-key-alias>server_key</server-private-key-alias>
      <server-private-key-pass-phrase-encrypted>{AES}MPHt9vvyqn7vPgswPjhxyZlCbokGY1RwJj0tk7mnaEU=</server-private-key-pass-phrase-encrypted>
      <ssl-rejection-logging-enabled>true</ssl-rejection-logging-enabled>
      <inbound-certificate-validation>BuiltinSSLValidationOnly</inbound-certificate-validation>
      <outbound-certificate-validation>BuiltinSSLValidationOnly</outbound-certificate-validation>
      <allow-unencrypted-null-cipher>false</allow-unencrypted-null-cipher>
      <use-server-certs>true</use-server-certs>
    </ssl>
    <log>
      <file-name>logs/Server2.log</file-name>
      <rotation-type>bySize</rotation-type>
      <number-of-files-limited>false</number-of-files-limited>
      <file-min-size>5000</file-min-size>
      <rotate-log-on-startup>false</rotate-log-on-startup>
      <logger-severity>Info</logger-severity>
      <log-file-severity>Debug</log-file-severity>
      <stdout-severity>Debug</stdout-severity>
      <domain-log-broadcast-severity>Notice</domain-log-broadcast-severity>
      <memory-buffer-severity>Debug</memory-buffer-severity>
      <log4j-logging-enabled>false</log4j-logging-enabled>
      <redirect-stdout-to-server-log-enabled>true</redirect-stdout-to-server-log-enabled>
      <domain-log-broadcaster-buffer-size>10</domain-log-broadcaster-buffer-size>
    </log>
    <machine>Machine2</machine>
    <listen-port>7001</listen-port>
    <listen-port-enabled>true</listen-port-enabled>
    <cluster>BigRezCluster</cluster>
    <auto-migration-enabled>false</auto-migration-enabled>
    <server-debug>
      <debug-snmp-toolkit>false</debug-snmp-toolkit>
      <debug-snmp-agent>false</debug-snmp-agent>
    </server-debug>
    <listen-address>k2.us.oracle.com</listen-address>
    <java-compiler>javac</java-compiler>
    <jta-migratable-target>
      <user-preferred-server>Server2</user-preferred-server>
      <constrained-candidate-server></constrained-candidate-server>
      <cluster>BigRezCluster</cluster>
      <migration-policy>failure-recovery</migration-policy>
    </jta-migratable-target>
    <client-cert-proxy-enabled>false</client-cert-proxy-enabled>
    <key-stores>CustomIdentityAndCustomTrust</key-stores>
    <custom-identity-key-store-file-name>/powls/ch12/Machine2/k2_keystore.jks</custom-identity-key-store-file-name>
    <custom-identity-key-store-type>JKS</custom-identity-key-store-type>
    <custom-identity-key-store-pass-phrase-encrypted>{AES}J268fFSDYxjNpgu7xq3JDdImv5xtJrKJPmR6RSsIf8UCs4wIO8GLLxO+xwhM/sHz</custom-identity-key-store-pass-phrase-encrypted>
    <custom-trust-key-store-file-name>/powls/ch12/cacerts</custom-trust-key-store-file-name>
    <custom-trust-key-store-type>JKS</custom-trust-key-store-type>
    <custom-trust-key-store-pass-phrase-encrypted>{AES}FH9wVxnpjJTuHgSB6DRVRTXRWkkoXtz3GldNcb/t3g4=</custom-trust-key-store-pass-phrase-encrypted>
    <candidate-machine></candidate-machine>
  </server>
  <server>
    <name>Server3</name>
    <ssl>
      <enabled>false</enabled>
      <hostname-verifier xsi:nil="true"></hostname-verifier>
      <hostname-verification-ignored>false</hostname-verification-ignored>
      <export-key-lifespan>500</export-key-lifespan>
      <client-certificate-enforced>false</client-certificate-enforced>
      <two-way-ssl-enabled>false</two-way-ssl-enabled>
      <server-private-key-alias>server_key</server-private-key-alias>
      <server-private-key-pass-phrase-encrypted>{AES}jRMo/RgIClMUpTI4p/25Df121avMqnwrBE9d6CgRWLo=</server-private-key-pass-phrase-encrypted>
      <ssl-rejection-logging-enabled>true</ssl-rejection-logging-enabled>
      <inbound-certificate-validation>BuiltinSSLValidationOnly</inbound-certificate-validation>
      <outbound-certificate-validation>BuiltinSSLValidationOnly</outbound-certificate-validation>
      <allow-unencrypted-null-cipher>false</allow-unencrypted-null-cipher>
      <use-server-certs>true</use-server-certs>
    </ssl>
    <log>
      <file-name>logs/Server3.log</file-name>
      <rotation-type>bySize</rotation-type>
      <number-of-files-limited>false</number-of-files-limited>
      <file-min-size>5000</file-min-size>
      <rotate-log-on-startup>false</rotate-log-on-startup>
      <logger-severity>Info</logger-severity>
      <log-file-severity>Debug</log-file-severity>
      <stdout-severity>Debug</stdout-severity>
      <domain-log-broadcast-severity>Notice</domain-log-broadcast-severity>
      <memory-buffer-severity>Debug</memory-buffer-severity>
      <log4j-logging-enabled>false</log4j-logging-enabled>
      <redirect-stdout-to-server-log-enabled>true</redirect-stdout-to-server-log-enabled>
      <domain-log-broadcaster-buffer-size>10</domain-log-broadcaster-buffer-size>
    </log>
    <machine>Machine3</machine>
    <listen-port>7001</listen-port>
    <listen-port-enabled>true</listen-port-enabled>
    <cluster>BigRezCluster</cluster>
    <auto-migration-enabled>false</auto-migration-enabled>
    <server-debug>
      <debug-snmp-toolkit>false</debug-snmp-toolkit>
      <debug-snmp-agent>false</debug-snmp-agent>
    </server-debug>
    <listen-address>lhotse.us.oracle.com</listen-address>
    <java-compiler>javac</java-compiler>
    <jta-migratable-target>
      <user-preferred-server>Server3</user-preferred-server>
      <constrained-candidate-server></constrained-candidate-server>
      <cluster>BigRezCluster</cluster>
      <migration-policy>failure-recovery</migration-policy>
    </jta-migratable-target>
    <client-cert-proxy-enabled>false</client-cert-proxy-enabled>
    <key-stores>CustomIdentityAndCustomTrust</key-stores>
    <custom-identity-key-store-file-name>/powls/ch12/Machine3/lhotse_keystore.jks</custom-identity-key-store-file-name>
    <custom-identity-key-store-type>JKS</custom-identity-key-store-type>
    <custom-identity-key-store-pass-phrase-encrypted>{AES}9fe3l0wU4b1YUC4KCHwZVK8lgSlmsxZ38MnA1vYO7EmV/Mlbzx2B6uoLnF8T7U/N</custom-identity-key-store-pass-phrase-encrypted>
    <custom-trust-key-store-file-name>/powls/ch12/cacerts</custom-trust-key-store-file-name>
    <custom-trust-key-store-type>JKS</custom-trust-key-store-type>
    <custom-trust-key-store-pass-phrase-encrypted>{AES}vvk/Sn3l5kfzGngJx1//6HSM9iqkkXQ67UPHgeO/iNc=</custom-trust-key-store-pass-phrase-encrypted>
    <candidate-machine></candidate-machine>
  </server>
  <cluster>
    <name>BigRezCluster</name>
    <cluster-messaging-mode>unicast</cluster-messaging-mode>
    <candidate-machines-for-migratable-server></candidate-machines-for-migratable-server>
    <data-source-for-automatic-migration>LeasingDataSource</data-source-for-automatic-migration>
    <auto-migration-table-name>ACTIVE</auto-migration-table-name>
    <additional-auto-migration-attempts>3</additional-auto-migration-attempts>
    <millis-to-sleep-between-auto-migration-attempts>180000</millis-to-sleep-between-auto-migration-attempts>
    <migration-basis>database</migration-basis>
  </cluster>
  <production-mode-enabled>true</production-mode-enabled>
  <embedded-ldap>
    <name>bigrezdomain</name>
    <credential-encrypted>{AES}pxlCJbHmnnSF/BFM8Uv9W9SudDnvZZWZBdVW4LejLPUZL0Q18PaT/EB8C5NGkJnN</credential-encrypted>
  </embedded-ldap>
  <administration-port-enabled>false</administration-port-enabled>
  <administration-port>9002</administration-port>
  <configuration-version>10.3.1.0</configuration-version>
  <cluster-constraints-enabled>false</cluster-constraints-enabled>
  <app-deployment>
    <name>bigrez</name>
    <target>BigRezCluster</target>
    <module-type>ear</module-type>
    <source-path>c:\powls\bigrez\ear\output\bigrez.ear</source-path>
    <plan-dir xsi:nil="true"></plan-dir>
    <plan-path>C:\powls\ch12\Plan.xml</plan-path>
    <security-dd-model>DDOnly</security-dd-model>
  </app-deployment>
  <machine>
    <name>AdminMachine</name>
    <node-manager>
      <nm-type>SSL</nm-type>
      <listen-address>192.168.1.40</listen-address>
      <listen-port>5556</listen-port>
      <debug-enabled>true</debug-enabled>
    </node-manager>
  </machine>
  <machine xsi:type="unix-machineType">
    <name>Machine1</name>
    <node-manager>
      <nm-type>SSL</nm-type>
      <listen-address>192.168.1.41</listen-address>
      <listen-port>5556</listen-port>
      <debug-enabled>true</debug-enabled>
    </node-manager>
  </machine>
  <machine xsi:type="unix-machineType">
    <name>Machine2</name>
    <node-manager>
      <nm-type>SSL</nm-type>
      <listen-address>192.168.1.42</listen-address>
      <listen-port>5556</listen-port>
      <debug-enabled>true</debug-enabled>
    </node-manager>
  </machine>
  <machine xsi:type="unix-machineType">
    <name>Machine3</name>
    <node-manager>
      <nm-type>SSL</nm-type>
      <listen-address>192.168.1.43</listen-address>
      <listen-port>5556</listen-port>
      <debug-enabled>true</debug-enabled>
    </node-manager>
  </machine>
  <jms-server>
    <name>JMSServer1</name>
    <target>Server1 (migratable)</target>
    <persistent-store>JDBCStore1</persistent-store>
  </jms-server>
  <jms-server>
    <name>JMSServer2</name>
    <target>Server2 (migratable)</target>
    <persistent-store>JDBCStore2</persistent-store>
  </jms-server>
  <jms-server>
    <name>JMSServer3</name>
    <target>Server3 (migratable)</target>
    <persistent-store>JDBCStore3</persistent-store>
  </jms-server>
  <migratable-target>
    <name>Server1 (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>Server1</user-preferred-server>
    <constrained-candidate-server></constrained-candidate-server>
    <cluster>BigRezCluster</cluster>
    <migration-policy>failure-recovery</migration-policy>
    <post-script-failure-fatal>true</post-script-failure-fatal>
    <non-local-post-allowed>false</non-local-post-allowed>
    <restart-on-failure>false</restart-on-failure>
    <seconds-between-restarts>30</seconds-between-restarts>
    <number-of-restart-attempts>6</number-of-restart-attempts>
  </migratable-target>
  <migratable-target>
    <name>Server2 (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>Server2</user-preferred-server>
    <constrained-candidate-server></constrained-candidate-server>
    <cluster>BigRezCluster</cluster>
    <migration-policy>failure-recovery</migration-policy>
    <post-script-failure-fatal>true</post-script-failure-fatal>
    <non-local-post-allowed>false</non-local-post-allowed>
    <restart-on-failure>false</restart-on-failure>
    <seconds-between-restarts>30</seconds-between-restarts>
    <number-of-restart-attempts>6</number-of-restart-attempts>
  </migratable-target>
  <migratable-target>
    <name>Server3 (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>Server3</user-preferred-server>
    <constrained-candidate-server></constrained-candidate-server>
    <cluster>BigRezCluster</cluster>
    <migration-policy>failure-recovery</migration-policy>
    <post-script-failure-fatal>true</post-script-failure-fatal>
    <non-local-post-allowed>false</non-local-post-allowed>
    <restart-on-failure>false</restart-on-failure>
    <seconds-between-restarts>30</seconds-between-restarts>
    <number-of-restart-attempts>6</number-of-restart-attempts>
  </migratable-target>
  <self-tuning>
    <fair-share-request-class>
      <name>CSAFairShareReqClass</name>
      <target>BigRezCluster</target>
      <fair-share>100</fair-share>
    </fair-share-request-class>
    <max-threads-constraint>
      <name>BigRezMaxThreadsConstraint</name>
      <target>BigRezCluster</target>
      <connection-pool-name>BigRezJTADataSource</connection-pool-name>
    </max-threads-constraint>
    <capacity>
      <name>BigRezCapacityConstraint</name>
      <target>BigRezCluster</target>
      <count>300</count>
    </capacity>
    <work-manager>
      <name>CSAWorkManager</name>
      <target>BigRezCluster</target>
      <fair-share-request-class>CSAFairShareReqClass</fair-share-request-class>
      <response-time-request-class xsi:nil="true"></response-time-request-class>
      <context-request-class xsi:nil="true"></context-request-class>
      <max-threads-constraint>BigRezMaxThreadsConstraint</max-threads-constraint>
      <capacity>BigRezCapacityConstraint</capacity>
      <ignore-stuck-threads>false</ignore-stuck-threads>
    </work-manager>
    <work-manager>
      <name>default</name>
      <target>BigRezCluster</target>
      <max-threads-constraint>BigRezMaxThreadsConstraint</max-threads-constraint>
      <capacity>BigRezCapacityConstraint</capacity>
      <ignore-stuck-threads>false</ignore-stuck-threads>
    </work-manager>
  </self-tuning>
  <mail-session>
    <name>BigRezMailSession</name>
    <target>BigRezCluster</target>
    <jndi-name>bigrez.mail.session</jndi-name>
    <properties>mail.smtp.user=bigrez;mail.transport.protocol=smtp;mail.smtp.host=mail.bigrez.com;mail.smtp.password=password</properties>
  </mail-session>
  <jdbc-store>
    <name>JDBCStore1</name>
    <prefix-name>Store1_</prefix-name>
    <data-source>BigRezNonJTADataSource</data-source>
    <target>Server1 (migratable)</target>
  </jdbc-store>
  <jdbc-store>
    <name>JDBCStore2</name>
    <prefix-name>Store2_</prefix-name>
    <data-source>BigRezNonJTADataSource</data-source>
    <target>Server2 (migratable)</target>
  </jdbc-store>
  <jdbc-store>
    <name>JDBCStore3</name>
    <prefix-name>Store3_</prefix-name>
    <data-source>BigRezNonJTADataSource</data-source>
    <target>Server3 (migratable)</target>
  </jdbc-store>
  <jms-system-resource>
    <name>BigRezJMSModule</name>
    <target>BigRezCluster</target>
    <descriptor-file-name>jms/bigrezjmsmodule-jms.xml</descriptor-file-name>
  </jms-system-resource>
  <admin-server-name>AdminServer</admin-server-name>
  <jdbc-system-resource>
    <name>BigRezJTADataSource</name>
    <target>BigRezCluster</target>
    <descriptor-file-name>jdbc/BigRezJTADataSource-7029-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <jdbc-system-resource>
    <name>BigRezNonJTADataSource</name>
    <target>BigRezCluster</target>
    <descriptor-file-name>jdbc/BigRezNonJTADataSource-5642-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <jdbc-system-resource>
    <name>LeasingDataSource</name>
    <target>BigRezCluster</target>
    <descriptor-file-name>jdbc/LeasingDataSource-9708-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <internal-apps-deploy-on-demand-enabled>false</internal-apps-deploy-on-demand-enabled>
  <guardian-enabled>false</guardian-enabled>
</domain>
